@using System.Security.Claims
@{ //타이틀  제목으로 보여지는 부분
    ViewData["Title"] = "멤버십";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //수정 (15.
    string userId = string.Empty;
    string userRoleId = string.Empty;
    string[] userDataInfos = new[] { string.Empty, string.Empty, string.Empty, string.Empty };

    if (Context.User.Claims.Any())
    {
        userId = User.FindFirst(claim => claim.Type.Equals(ClaimTypes.Name)).Value; 
        @*
            MembershipController에서 "|"(파이프)로 구분이 되서 3개의 데이터를 가지고 있기 때문에
            string[] userRoleInfo 배열로 만들어 놓았다.
        *@ 
        userRoleId = User.FindFirst(claim => claim.Type.Equals(ClaimTypes.Role)).Value;
        userDataInfos = User.FindFirst(claim => claim.Type.Equals(ClaimTypes.UserData)).Value.Split("|");
    } }

@*여기에 보여진다*@
<h2>@ViewData["Title"]</h2>

@*Html.Raw : MembershipController에 사용되는 <br> 태그를 사용하기 위해서*@
<div class="text-info">@Html.Raw(TempData["Message"])</div>

@*로그인이 되었을 경우 *@
@if (Context.User.Identity.IsAuthenticated)
{
<div class="text-danger">@($"{userId}({userDataInfos[2]})님의 권한은 {userRoleId}({userDataInfos[0]})입니다.")</div>
                <a asp-controller="Membership" asp-action="LogOut" class="btn btn-primary">멤버십 로그아웃</a>}